<!DOCTYPE html>
<html>
    <head>
        <title>PhotoStock app</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/main.css" type="text/css"/>
        
        <link rel="stylesheet" href="/inputForm.css" type="text/css"/>
        <link rel="stylesheet" href="/menu.css" type="text/css"/>
        <link rel="stylesheet" href="/countries.css" type="text/css"/>
        <link rel="stylesheet" href="/date.css" type="text/css"/>
        <link rel="stylesheet" href="/modal.css" type="text/css"/>
        <link rel="stylesheet" href="/lenses.css" type="text/css"/>
        
    </head>
    <body>
        <div id="app">React</div>
        <!--<div>Non React</div> -->

        <script src="built/bundle.js"></script>
    </body>
</html>
