
.menu{
    
    display: flex;
    gap: 2rem;
    padding: 0;
    padding-top: 1.5rem;
    
    
}
a{
    color: white;
    text-decoration: none;
    font-size: 25px;
        
}
a:hover{
    color: gray;
    font-size: 27px;
}
